
.wrap_add-task {
    display: flex;
    flex-direction: row;
    margin: 100px;
}
.wrap_add {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 360px;
    padding: 25px;
    background-color: rgb(245, 223, 208, 0.5);
    margin: auto;
    border-radius: 25px;
}
.add_descr {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
   
    span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        color: #ffffff;
        
    }
  
}
.task_descr {
    span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 1ss5px;
        color: #ffffff;  
    }
}
.plus {
    margin: auto;
    border: none;
    background-color: #c7b8b880;
    .fa {
        color: #412a00;
        font-size: 25px;

    }
}
.trash {
    margin: auto;
    border: none;
    background-color: #c7b8b880;
    .fa-trash-alt{
        color: #412a00;
        font-size: 25px; 
    }
}
