
.wrap_add-task {
    display: flex;
    flex-direction: row;
    margin: 100px;
}
.wrap_add {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 360px;
    padding: 25px;
    background-color: rgb(245, 223, 208, 0.5);
    margin: auto;
    border-radius: 25px;
}
.add_descr {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
   
    span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        color:#605447;
        
    }
  
}
.task_descr {
    span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 1ss5px;
        color: #605447;  
    }
}

.trash {
    margin: auto;
    border: none;
    background-color: #c7b8b800;
    color: aqua;
}

.task {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
   
}
.task_wrapper, .message_wrapper, .deadline, .performer_wrapper {
    margin-bottom: 3px;
    &:last-child{
        margin-bottom: none;
    }
}
.task_name, .message_input, .deadline_input, .performer_input {
    display: block;
    width: 100%;
    border: 1px solid #c5c5c5;
    padding: 7px 10px;
    border-radius: 20px;
        
}
.task:last-child {
    margin-bottom: 0;
}