#header {
    
    margin: 70px 0 40px;
}
.current_data{
    font-size: 24px;
    color: #b4815c;
    font-weight: 100;
}

.wrap_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrap_add-task {
    display: flex;
    flex-direction: row;
    margin: 100px;
}

.logo_descr{
    text-transform:capitalize;
    color:  #f9eee6;
    text-align: center;
    font-size: 40px;
    

}
.greeting_title{
    text-transform:capitalize;
    color:  #f9eee6;
    text-align: center;
    font-size: 75px;
    
 }
.current_data {
    color:  #f9eee6;
    text-align: center;
    font-size: 40px;
    
 }

 .todo_note {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    outline: none;
    padding: 7px 10px;
    // display: block;
 }