#header {
    
    margin: 70px 0 40px;
}

.wrap_header {
    text-align: center;
}
.wrap_add-task {
    display: flex;
    flex-direction: row;
    margin: 100px;
}


.greeting_title{
    text-transform:capitalize;
    color:  #ffffff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    
 }


 .todo_note {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    outline: none;
    padding: 7px 10px;
    // display: block;
 }