@import '../sass/header.scss';
@import '../sass/add.scss';

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html {
    font-family: 'Raleway' sans-serif;
    background-image: url(https://images.unsplash.com/photo-1520399736190-374689e588f4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;

}





.wrap {
    display: flex;
    flex-direction: row;
}

.name{
    color: white;
    margin-bottom: 35px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}
.wrap_task{
    width: 33%;
    padding: 15px;
    margin-right: 15px;
    background-color: rgb(181, 151, 130, 0.7);
    border-radius: 25px;
    
}
.task {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
   
}
.task_wrapper, .message_wrapper, .deadline, .performer_wrapper {
    margin-bottom: 3px;
    &:last-child{
        margin-bottom: none;
    }
}
.task_name, .message_input, .deadline_input, .performer_input {
    display: block;
    width: 100%;
    border: 1px solid #c5c5c5;
    padding: 7px 10px;
    border-radius: 5px;
    outline: none;
    
    
}

.span_descr {
    font-size: 20px;
    color: rgb(46, 31, 32);
}


.task:last-child {
    margin-bottom: 0;
}

.wrap_in-work{
    width: 33%;
    padding: 15px;
    background-color: rgb(181, 151, 130, 0.7);
    margin-right: 15px;
}
.wrap_done{
    width: 33%;
    padding: 15px;
    background-color: rgb(181, 151, 130, 0.7);
}
.create_add {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.create {
    margin: auto;
}
.fa-chevron-circle-down {
    color: #412a00;
    font-size: 25px;
}
.div1 {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 5px;
}
.div1 p{
    margin-left: 10px;
}
.btn_1 {
    width: 50%;
    margin: 0 auto;
}
 