@import '../sass/header.scss';
@import '../sass/add.scss';
@import '../sass/todo.scss';

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html {
    font-family: 'Raleway' sans-serif;
    background-image: url(https://images.unsplash.com/photo-1520399736190-374689e588f4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;

}








.wrap_in-work{
    width: 33%;
    padding: 15px;
    background-color: rgb(181, 151, 130, 0.7);
    margin-right: 15px;
}
.wrap_done{
    width: 33%;
    padding: 15px;
    background-color: rgb(181, 151, 130, 0.7);
}
.create_add {
    display: flex;
    margin: 20px 0 0;
}
.create {
    margin: auto;
    border: none;
    background-color: #c7b8b800;
   
}
.fa-chevron-circle-down {
    color: #412a00;
    font-size: 25px;
}
.inner_task, .in_work_task {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 5px;
    p{
     margin-left: 10px;
        }}
.moove {
    width: 50%;
    margin: 0 auto;
}
 