.wrap {
    display: flex;
    flex-direction: row;
}

.name{
    color: #fff;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;

}
.wrap_task{
    width: 33%;
    padding: 15px;
    margin-right: 15px;
    background-color: rgb(181, 151, 130, 0.7);
    border-radius: 25px;
    
}